html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card.highlight {
  border-color: #007bff; /* Highlight border color */
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.5); /* Highlight box shadow */
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.image{
  display: block;
  margin-top: 100px;
  width: 400px;
  height: 200px;
  border:2px solid #007bff;
  border-radius: 5%;
}